<div class="nav bg-light p-3 rounded shadow-sm d-flex justify-content-between align-items-center">
  
  <div class="d-flex justify-content-evenly flex-grow-1">
    <a routerLink="/home" class="btn btn-primary mx-2">Home</a>
    <a routerLink="/product" class="btn btn-primary mx-2">Product</a>
  </div>

  <div class="d-flex">
    <a routerLink="/register" class="btn btn-primary mx-2">Register</a>
    <a routerLink="/login" class="btn btn-primary mx-2">Login</a>
  </div>

</div>


<router-outlet></router-outlet>

<footer class=" text-dark text-center py-4">
  <h5>Contact Us</h5>
  <div class="d-flex justify-content-center gap-4 my-3">
    <a href="#" class="text-dark fs-4"><i class="bi bi-facebook"></i></a>
    <a href="#" class="text-dark fs-4"><i class="bi bi-instagram"></i></a>
    <a href="#" class="text-dark fs-4"><i class="bi bi-twitter-x"></i></a>
    <a href="#" class="text-dark fs-4"><i class="bi bi-linkedin"></i></a>
  </div>
  <p class="mb-0">&copy; 2025 MaiAboelmagd</p>
</footer>

