<div class="d-flex justify-content-center align-items-center min-vh-100 bg-info-subtle">
    <form [formGroup]="loginForm" (ngSubmit)="login()" class="bg-white p-5 rounded shadow-sm" style="width: 100%; max-width: 400px;">
      <h2 class="text-center mb-4">Login</h2>
  
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="text" id="name" class="form-control" placeholder="Enter your email" formControlName="email">
      </div>
  
      <div class="mb-4">
        <label for="password" class="form-label">Password</label>
        <input type="password" id="password" class="form-control" placeholder="Enter your password" formControlName="password">
      </div>
  
      <div class="d-grid">
        <button type="submit" class="btn btn-primary">Login</button>
      </div>
    </form>
</div>
